html {
    box-sizing: border-box;
    font-size: 62.5%; /*1REM = 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}


.boton_whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .boton_whatsapp:hover {
    background-color: #1ebe5d;
    transform: scale(1.05);
  }


  h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

form hr {
    width: 100%;
    border: none;
    border-top: 0.3rem solid #0036D6;
    margin: 1.5rem 0;
}




form {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2rem auto; /* Centra el formulario en la página */
}

label {
    font-size: 1.7rem;
    font-weight: 550;
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 1.6rem;
    margin-bottom: 1.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}

input[type="submit"] {
    font-size: 2.2rem;
    font-weight: 550;
    background-color: #3A81D3;
    color: white;
    padding: 1.6rem 3.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #326CAE;
}

.propiedad { margin-bottom: 40px; }
.galeria img { width: 200px; margin-right: 10px; }